<a href="https://colab.research.google.com/github/su-sumico/edsj/blob/main/3a_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandasの基礎1

* PandasはPythonでのデータ分析ライブラリとして最も活⽤されているライブラリのひとつです。
* PandasはNumpyを基盤にシリーズ（Series）とデータフレーム（DataFrame）というデータ型を提供します。
---
Pandas basics 1

* Pandas is one of the most popular data analysis libraries in Python.
* Pandas is based on Numpy and provides data types called Series and DataFrames.

Pandas を使う準備

* Pandasを利用するには、まず次のようにインポートを行います。
---
Prepare to use Pandas

* To use Pandas, first import as follows

In [ ]:
# Pandasライブラリをpdという別名で使用できるように宣言する
# Declare the Pandas library to be available under the alias pd

import pandas as pd

pandas.Series

* ここまで、Python標準のリスト型（list）と、NumPyライブラリのndarrayを扱いましたが、Pandasライブラリにも同様の機能を有するシリーズ（Series）というデータ型があります。
---
pandas.Series

* So far we have dealt with the standard Python list type (list) and the NumPy library's ndarray, but the Pandas library also has a data type called series that has similar functionality.

* pandas.Series: https://pandas.pydata.org/docs/reference/api/pandas.Series.html

In [ ]:
srs = pd.Series([10, 20, 30, 40, 50])
srs

0    10
1    20
2    30
3    40
4    50
dtype: int64

* 10～50が配列の要素、0～4がラベル（インデックス）です。
* 10～50 are array elements and 0～4 are labels (indexes).

list/ndarrayとの共通点

* Pandasのlocとilocは値を抽出するためのメソッドです。
* https://aiacademy.jp/media/?p=1551
---
Common features with list/ndarray

* Pandas loc and iloc are methods for extracting values.
* https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html

In [ ]:
# list/ndarrayとの共通点: 指定して任意の要素を取り出せる
# Common features with list/ndarray: any element can be retrieved by specifying

# ilocはindexを指定することで特定の値を抽出できます
# iloc can extract specific values by specifying an index

# df.iloc[行, 列]
# df.iloc[row, column]

srs.iloc[3]

40

* Slicing: https://qiita.com/Mayumi_Pythonista/items/6bae214755dfeb8d7353

In [ ]:
# list/ndarrayとの共通点: スライシングが使える
# Common features with list/ndarray: Slicing can be used.

srs.iloc[ 1 : 3 ]

1    20
2    30
dtype: int64

* pandas.Series: https://pandas.pydata.org/docs/reference/api/pandas.Series.html

In [ ]:
# list/arrayと相違点: indexを指定できる
# Differences from list/array: index can be specified

srs = pd.Series([10, 20, 30, 40, 50], index=["one", "two", "three", "four",
"five"])
srs

one      10
two      20
three    30
four     40
five     50
dtype: int64

* 10～50が配列の要素、one～fiveがラベル（インデックス）です。
* 10～50 are array elements and one～five are labels (indexes).

pandas.DataFrame.describe

* pandas.DataFrameおよびpandas.Seriesのメソッド**describe()**を使うと、各列ごとに平均や標準偏差、最大値、最小値、最頻値などの要約統計量を取得できる。
---
pandas.DataFrame.describe

* The method **describe()** of pandas.DataFrame and pandas.Series can be used to obtain summary statistics such as mean, standard deviation, maximum, minimum, and mode for each column.

* pandas.DataFrame.describe: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html

In [ ]:
# データの特徴をおおまかに調べるために便利な DataFrame.describe() メソッドを実行します。
# Execute the DataFrame.describe() method, which is useful for a general examination of data characteristics.

# データの概要
# Data summary

srs.describe()

count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

pandas.DataFrame

* Pandasライブラリで最も使われるデータ型に**データフレーム**があります。
* Seriesは1次元のデータしか扱えませんが、DataFrameは行列のような多次元のデータも扱えます。
---
pandas.DataFrame

* The most used data type in the Pandas library is the **data frame**.
* While Series can handle only one-dimensional data, DataFrame can handle multi-dimensional data such as matrices.

* pandas.DataFrame: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

DataFrameの生成

* まずはサンプルデータを含んだDataFrameを生成してみます。
---
Generating DataFrame

* First, let's generate a DataFrame containing the sample data.

In [ ]:
# 多次元リストからデータフレームの作成
# Create data frame from multidimensional list

df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

indexとcolumnの指定

* DataFrameはインデックス（index）やカラム（column）を指定することにより、Excelのシートのようにデータを扱うことができます。
---
Specify index and column

* DataFrame can handle data like an Excel sheet by specifying an index and column.

In [ ]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], index=["a", "b", "c"], columns=["A",
"B", "C"])
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

indexとcolumn名の変更

* pandas.DataFrame.renameを使うことで、行や列の名前を変更することが出来ます。
---
Change index and column names

* You can rename rows and columns by using pandas.DataFrame.rename.

* pandas.DataFrame.rename: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html

In [ ]:
df.rename(columns={"A":"a"},index={"a":"A"})

   a  B  C
A  1  2  3
b  4  5  6
c  7  8  9

* 注釈: renameはその場限りのもので、もう⼀度dfの中身を表示すると、更新されてません。
* Note: rename is a temporary operation; if you view the contents of the df again, it will not be updated.

In [ ]:
# 変更が反映されておらず、元に戻っている
# Changes are not reflected and are reverted.

df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

* それを解決するには、主に2つの方法があります。
* There are two main ways to solve it.

In [ ]:
# inplaceオプションをtrueにする
# Set the inplace option to true

df.rename(columns={"A": "a"},index={"a": "A"}, inplace=True)
df

   a  B  C
A  1  2  3
b  4  5  6
c  7  8  9

In [ ]:
# イコール( = )で新しい内容を同じdfに代入する
# Assign new content to the same df with equal ( = )

df = df.rename(columns={"C": "c"},index={"c": "C"} )
df

   a  B  c
A  1  2  3
b  4  5  6
C  7  8  9

データの消去

* pandas.Series.dropは、列と行の削除を行うことが出来ます。
* デフォルトでは、行の削除(axis=0)を指定しています。
---
Erase data

* pandas.Series.drop can delete columns and rows.
* The default is to delete rows (axis=0).

* pandas.Series.drop: https://pandas.pydata.org/docs/reference/api/pandas.Series.drop.html

* axis = 0, axis=1: https://qiita.com/Phoeboooo/items/b464b7df3c64a33caf94

In [ ]:
df.drop('C')
df

   a  B  c
A  1  2  3
b  4  5  6
C  7  8  9

* 注釈: C行が削除されていません。
* **inplace=True**オプションを付ける必要があります。
---
* Remarks: The C line has not been removed.
* The option **inplace=True** must be added.

In [ ]:
# inplaceオプションで削除を反映させる
# The inplace option reflects the deletion.

df.drop('C' , inplace=True)
df

   a  B  c
A  1  2  3
b  4  5  6

In [ ]:
# axis=1を指定することで、列を削除することが出来る。
# A column can be deleted by specifying axis=1.

df.drop('c', axis=1, inplace=True)
df

   a  B
A  1  2
b  4  5

データの取得

* pd.DataFrame.locとpd.DataFrame.ilocを使うことで、DataFrameの指定した行や指定した列を取得することができます。
---
Data Acquisition

* pd.DataFrame.loc and pd.DataFrame.iloc can be used to retrieve a given row or column of a DataFrame.

* pandas.DataFrame.loc: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html
* pandas.DataFrame.iloc: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html

In [ ]:
# データフレームを再度作成する
# Re-create the data frame

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], index=["a", "b", "c"], columns=["A", "B", "C"])
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

* loc は 行、列をラベルで指定します。
* iloc は 行、列を番号で指定します。
---
* loc specifies rows and columns with labels
* iloc specifies rows and columns by number

* pandas.DataFrame.loc: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html
* pandas.DataFrame.iloc: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html

In [ ]:
# b行のデータを取得
# Get data in row b

df.loc["b"]

A    4
B    5
C    6
Name: b, dtype: int64

In [ ]:
# C列のデータを取得
# Get data in column C

df.loc[ : , "C"]

a    3
b    6
c    9
Name: C, dtype: int64

In [ ]:
# 0,1行目のデータを取得
# Get data of rows 0,1

df.iloc[ [0, 1] ]

   A  B  C
a  1  2  3
b  4  5  6

列を指定する方法

* df[列名]
* df.loc[:, 列名]
* df.iloc[:, 列番号]
* locやilocの引数は行→列の順になっています。
* df.iloc[行, 列]
* コロン（：）だけ書かれているのはすべての行を指定するという意味です。
---
How to specify columns

* df[column name]
* df.loc[:, column name].
* df.iloc[:, column number].
* The arguments of loc and iloc are in order from row to column.
* df.iloc[row, column]
* Only a colon (:) is written to mean that all rows are specified.

In [ ]:
# 1列目のデータを取得
# Get the data of the first column

df.iloc[ : , [1]]

   B
a  2
b  5
c  8

データの表示

* Dataframeにはheadとtailというメソッドが用意されています。
* headは先頭から指定した数の行データを表示します。
* tailは末尾から指定した数の行データを表示します。
---
Data display

* Dataframe provides two methods: head and tail.
* head displays the specified number of rows of data from the beginning.
* tail displays the specified number of rows from the tail.

* pandas.DataFrame.head: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html

In [ ]:
# DataFrame.head(n=5), 最初のn行を返す。
# DataFrame.head(n=5), Return the first n rows.

df.head(2)

   A  B  C
a  1  2  3
b  4  5  6

* pandas.DataFrame.tail: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.tail.html

In [ ]:
# DataFrame.tail(n=5), 最後のn行を返す。
# DataFrame.tail(n=5), Return the last n rows.

df.tail(2)

   A  B  C
b  4  5  6
c  7  8  9

条件に応じた行の抽出

* Dataframeにはqueryというメソッドが用意されています。
* 文字列で条件を指定することで、条件を満たした行だけを取り出すことができます。
---
Extract rows according to conditions

* Dataframe provides a method called query.
* By specifying a condition with a string, only rows that satisfy the condition can be retrieved.

In [ ]:
# データフレームの中身を確認
# Check the contents of the data frame

df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

* pandas.DataFrame.query: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html

In [ ]:
# B列が5の行を抽出
# Extract rows where column B is 5

df.query('B == 5')

   A  B  C
b  4  5  6

In [ ]:
# B列が5以上の行を抽出
# Extract rows with column B greater than 5

df.query('B >= 5')

   A  B  C
b  4  5  6
c  7  8  9

In [ ]:
# B列が5以上で、かつC列が7以上の行を抽出
# Extract rows where column B is greater than or equal to 5 and column C is greater than or equal to 7

df.query('B >= 5 & C >=7')

   A  B  C
c  7  8  9

In [ ]:
# A列が1、またはC列が9の行を抽出
# Extract rows where column A is 1 or column C is 9

df.query('A == 1 | C ==9')

   A  B  C
a  1  2  3
c  7  8  9

Pythonの基本文法（選択・繰り返し・関数）

* Pythonでのifやforの述法
---
Basic Python grammar (selection, repetition, functions)

* if and for predicates in Python

選択（if文）

if 条件:

   実行したい文
* ifの中の行は、必ずインデント（字下げ）が必要です。
* インテントは半角スペース4個が推奨されていますが、任意の個数やTabでも正しく動きます。
---
Selection (if statement)

if Condition:

   The statement you want to execute
* Lines within if must be indented (indentation).
* Four single-byte spaces are recommended for the intent, but any number of spaces or Tab will work.

* **ifのみの場合**、条件式がTrueのとき（条件を満たすとき）に指定した処理が実行され、Falseのとき（条件を満たさないとき）は何もしない。
* **In the case of if only**, the specified process is executed when the conditional expression is True (when the condition is satisfied), and when False (when the condition is not satisfied), nothing is done.

In [ ]:
lang = "python"
if lang == "python":
    # インデントされた部分がifの中身として認識される/Indented parts are recognized as if contents.
    print("I love Python!")
    print("I love Programming!")

I love Python!
I love Programming!

else文の使い方
* else文はif文の条件を満たさなかった場合に実行したい文を書くことができます。
---
How to use the "else" statement
* The else statement allows you to write the statement you want to execute if the condition of the if statement is not met.

if ... else ...

* elseブロックで、条件式がFalseのときの処理を追加できる。
---
if ... else ...

* In the else block, processing can be added when the conditional expression is false.

In [ ]:
lang = "ruby" #laung が "ruby"になったため条件を満たしていない/Laung is "ruby" and does not meet the condition.
if lang == "python":
    print("I love python!")
else:
    print("I love other language!")

I love other language!

繰り返し(for文)

* **同じ処理を繰り返したい場合は**、for文を使用します。
---
Repetition (for statement)

* **If you want to repeat the same process**, use a "for" statement.

* for 変数 in リスト型：

  繰り返したいしたい文 ifと同様に、for中の行は必ずインデント（字下げ）が必要です。
* for variable in list type:

  As with the if statement, the line in for must be indented.

for文の書き方

for 変数 in オブジェクト:

      処理1

      処理2
---
How to write a for statement

for Variables in Objects:.

      Process 1

      Process 2

* compound statement: https://docs.python.org/ja/3/reference/compound_stmts.html?highlight=for

In [ ]:
# xを0から4まで増分させながら繰り返す
# Repeat while incrementing x from 0 to 4

for x in [0, 1, 2, 3, 4]:
    print(x)

0
1
2
3
4

* 上記のような繰り返し条件の指定では、例えば0から100までの値を実行したいような場合に、リスト型で100まで定義するのは現実的ではありません。そのような際に使うのがrangeです。**range**の使い方は以下の通りです。
* In the above example of specifying a repeating condition, it is not realistic to define up to 100 values in a list type for example, when you want to execute values from 0 to 100. In such a case, **range** is used.

In [ ]:
# xを0から4まで増分させながら繰り返す
# Repeat while incrementing x from 0 to 4

for x in range(5):
    print(x)

0
1
2
3
4

In [ ]:
# xを2から4まで増分させながら繰り返す
# Repeat with increments of x from 2 to 4
for x in range(2, 5):
    print(x)

2
3
4

In [ ]:
# xを0から9まで2ずつ増分させながら繰り返す
# Repeat while incrementing x by 2 from 0 to 9

for x in range(0, 9, 2):
    print(x)

0
2
4
6
8